@if(course){
<div class="course-card" [ngClass]="cardClasses()">
    <div [ngStyle]="cardTitleStyle()">
        {{index || ''}}
        <course-title [title]="course.description"></course-title>
    </div>

    @if (course.iconUrl) {
    <ng-content select="course-image"></ng-content>
    }
    @else {
    <h2>No image Available!</h2>
    }

    <div class="course-description" [ngStyle]="cardTextStyle()">
        Edit Title:
        <input #courseTitle [value]="course.description" (keyup)="onTitleChanged(courseTitle.value)">
    </div>

    <div class="course-category">
        @switch (course.category) {
        @case ("BEGINNER") {
        <div class="beginner">beginner</div>
        }
        @case ("INTERMEDIATE") {
        <div class="intermediate">intermediate</div>
        }
        @case ("ADVANCED") {
        <div class="advanced">advanced</div>
        }
        @default {
        <div class="unknown">unknown</div>
        }
        }
    </div>

    <button (click)="onCourseViewed()">View Course</button>
    <button (click)="onSaveClicked(courseTitle.value)">Save Course</button>
</div>
}