<ng-container *ngIf="course">
    <div class="course-card" [ngClass]="cardClasses()">

        <div class="course-title" [ngStyle]="cardTitleStyle()">
            {{cardIndex}} {{ course.description }}
        </div>

        <img width="300" alt="Angular logo" *ngIf=isImageVisible(); else noImage [src]="course.iconUrl">

        <ng-template #noImage>
            <h2>No image Available!</h2>
        </ng-template>

        <div class="course-description" [ngStyle]="cardTextStyle()">
            {{course.longDescription}}
        </div>

        <ng-container [ngSwitch]="course.category">
            <div class="course-category">
                <div class="beginner" *ngSwitchCase="'BEGINNER'">beginner</div>
                <div class="intermediate" *ngSwitchCase="'INTERMEDIATE'">intermediate</div>
                <div class="advanced" *ngSwitchCase="'ADVANCED'">advanced</div>
                <div class="unknown" *ngSwitchCase="'UNKNOWN'">unknown</div>
            </div>
        </ng-container>

        <button (click)="onCourseViewed()">View Course</button>

    </div>
</ng-container>