@if(course){
<div class="course-card">
    @switch (course.category) {
        @case ("BEGINNER") {
            <div class="beginner"></div>
        }
        @case ("INTERMEDIATE") {
            <div class="intermediate"></div>
        }
        @case ("ADVANCED") {
            <div class="advanced"></div>
        }
        @default {
            <div class="unknown"></div>
        }
    }

    <div class="course-title">
        {{index}} {{ course.description }}
    </div>
    
    @if (course.iconUrl) {
        <img width="300" alt="Angular Logo"
            src="{{ course.iconUrl }}">
    }
    @else {
        <h2>No image Available!</h2>
    }

    <div class="course-description">
       {{course.longDescription}}
    </div>

    <button (click)="onCourseViewed()">View Course</button>

</div>
}