<div class="top-menu">

    <img class="logo" src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png"
        alt="Angular Academy main logo with small hat">

</div>

<div class="courses" #container>

    <button (click)="onCoursesEdited()">Edit Courses</button>

    <course-card *ngFor="let course of courses" (courseSelected)="onCourseSelected($event)"
        (courseChanged)="onCourseChanged($event)" [index]="$index" [course]="course">
        <course-image [src]="course.iconUrl"></course-image>
    </course-card>


</div>